body {
    background-image: url("paper.gif");
    background-color: lightgrey;
    font-size: 20px;
}

nav {
    background-color: white;
    width: 100%;
    overflow: hidden;
}

h1 {
    background-color: rgb(87, 192, 192);
    color: white;
    padding: 25px;
    font-size: 35px;
    width: fit-content; 
    margin-left: 200px;
    float: left;
}

ul {
    margin: 20px;
}
  
li {
    float: left;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 10px;
}
  
a {
    color: grey;
    text-decoration: none;
}

li a:hover {
    color: darkgray;
}

h2 {
    color: rgb(87, 192, 192);
    font-size: 30px;
}

p {
    color: grey;
    line-height: 30px;
}

.container {
    background-color: white;
    width: 900px;
    height: fit-content;
    padding: 40px 30px 40px 30px;
    margin: 40px 200px 103px 200px;
    overflow: auto;
}

#profilepic {
    width: 200px; 
    height: auto;
    float: left;
    margin-right: 20px;
}

.gallery {
    margin: 20px;
}

.photo {
    position: relative;
    margin: 10px;
    float: left;
    width: 400px;
}

.title {
    background-color: rgb(87, 192, 192);
    width: 230px;
    padding: 10px 30px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10px;
}

img{
    width: 290px;
    height: 195px;
}

.form {
    width: 890px;
    line-height: 30px;
    font-size: 15px;
}

#submit {
    background-color: rgb(87, 192, 192);
    color: white;
    font-size: 20px;
    padding: 10px 35px;
    margin: 20px 0 0; 
}

#submit:link {
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    font-size: 10px;
    background-color: grey;
    padding-top: 30px;
    border-style: solid; 
    border-width: 8px 0 0 0;
    border-color: rgb(87, 192, 192);
}