body {
    background-image: url("paper.gif");
    background-color: lightgrey;
}

nav {
    background-color: white;
}

h1 {
    background-color: rgb(87, 192, 192);
    color: white;
}

a {
    color: grey;
}

h2 {
    color: rgb(87, 192, 192);
}

p {
    color: grey;
}

.container {
    background-color: white;
}

footer {
    color: white;
    background-color: grey;
    border: 50px;
    border-color: teal;
}